@font-face {
    font-family: 'Oranienbaum';
    src: url('../../assets/fonts/Oranienbaum.ttf') format('truetype')
}

@font-face {
    font-family: 'Cinzel';
    src: url('../../assets/fonts/Cinzel-Regular.otf') format('truetype')
}

.info-projet-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-top:2%;
    padding-bottom:5%;
    position: relative;
    margin-top: -28px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel';
    color:white;
    background:black;
    height:40px;
    width:100%;
    font-size: 30px;
    font-weight:200;
    position: relative;
    margin: -7px 0px;
    padding-top:60px;
    padding-bottom: 5px;
}

.display-row {
    width:80%;
    display: flex;
    padding-top:5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:black;
}

.box-slider-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:10px;
    height: 315px;
}

.container-mots-cles {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px ;
}

.info-projet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:45%;
    padding-right: 5%;
    height:100%;
    position:relative;
    background: white;
    border-left:1px solid white;
    border-radius:0px 10px 10px 0px;
}

.back-info-projet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    padding-left:5%;
    padding-right: 5%;
    width:90%;
    height:100%;
}

.txt-info-projet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
    height:100%;
    font-family: "Oranienbaum";
    color: #565869;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

.box-info {
    width:100%;
    height:300%;
}

.container-liens{
    width:80%;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:flex-start;
    text-align: left;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 25px;
    margin: 0 auto;
}

.liens-list {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-left: -45px ;
}

.lien {
    list-style: none;
    width:100%;
    text-align: left;
    position:relative;
    margin-top:-17px;
    margin-bottom:-17px;
}

.lien-a {
    text-decoration: none;
    font-family: "Oranienbaum";
    font-style: 18px;
    font-weight: 700;
    color: blue;
}

.lien-a:hover {
    text-decoration: underline;
    color:black;
}

.box-title-circleskill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background: white;
}

.titre-circle-skill-box {
    text-align:center;
    position: relative;
    margin-top: 100px;
    font-family: 'Oranienbaum';
    font-size:25px;
    font-weight:600;
    color: #565869;
}

.container-circle-skill {
    width:70%;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    padding-top:30px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.titre-langage {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .info-projet-box {
        background: white;
        overflow: hidden;
        margin-top: -10px;
    }

    .info-projet-box { 
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 0%;
        width:100%;
        box-shadow: none;
        border-left:none;
        border-right:none;
    }

    .title {
        padding-top:0px;
        margin-top:0px;
    }

    .display-row {
        flex-direction: column;
        height: auto;
        width:100%;
        padding:0px;
    }
    
    .box-slider-infos {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;
        height:100%;
        border-radius: 0px;
        margin: 0;
    }

    .info-projet {
        width:100%;
        padding:0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        border-radius:0px
    }

    .container-mots-cles {
        width:100%;
    }

    .back-info-projet {
        position: relative;
        width:92%; 
        height:100%;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 4%;
        padding-bottom:4%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txt-info-projet {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width:100%;
        height:100%;
        text-align: left;
    }

    .container-liens {
        padding-left:0;
        width:100%;
        overflow: hidden;
    }

    .liens-list {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:90%;
        margin-left: -37px ;
    }
    
    .lien {
        list-style: none;
        width:100%;
        text-align: center;
        position:relative;
        margin-top:-17px;
        margin-bottom:-17px;
    }

    .box-title-circleskill {
        background: black;
    }
    
    .container-circle-skill {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height:700px;
        margin:0;
        padding-top:30px;
        padding-bottom:120px;
        box-shadow: none;
        background: black;
        border-bottom:1px solid white;
        border-radius:0px;
    }
    
    .titre-circle-skill-box {
        margin-top:30px;
        color: white;
        background: black;
        padding-top: 20px;
        width:90%;
        margin-bottom: 0;
    }
}