.container-form-project {
    background:black;
    font-family: 'Ysabeau SC', sans-serif;
    padding:0% 0% 0% 0%;
    margin: 0%;
}


.form-project {
    padding:0;
    width: 80%;
    padding:0;
    margin: 0 auto;
    background-color: black;
    color:white;
    border-radius: 8px;
}

.return-dash{
    padding:40px;
    margin-left:10px;
}

.fa-circle-left {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:25px;
    color: blue;
}

.title-form {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 0;
}

.label-formsAPI {
    font-weight: bold;
    margin-top: 0px;
    color:white
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid aqua;
    background: white;
    border-radius: 5px;
}

#informations-project, #description-project, #photos-url-project {
    width:98.5%;
}

.errormsg-form-project {
    color: red;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.btn-submit {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Ysabeau SC', sans-serif;
    background-color: aqua;
    color: black;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: black;
    color:aqua;
    border:1px solid aqua;
}
