@font-face {
    font-family: 'Cinzel';
    src: url('../../assets/fonts/Cinzel-Regular.otf') format('truetype')
}

@font-face {
    font-family: 'Boheme';
    src: url('../../assets/fonts/Boheme\ Floral.ttf') format('truetype')
}

.container-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-left:10%;
    padding-right:10%;
    padding-top:20px;
    padding-bottom: 20px;
    background:black;
    width:80%;
    margin:0;
}

.container-header:active {
    background:white;
    border-bottom: 4px solid black;
    .title-app {
        color:black;
    }
    .bleu-blanc-rouge {
        border:1px solid black;
    }
    .subtitle-app {
        color:black;
    }
    .circle {
        border:4px solid black;
    }
}

.container-containers {
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.container-title-france {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:78%;
}

.title-app {
    text-align: center;
    font-family: 'Cinzel';
    color:white;
    font-size: 50px;
    font-weight: 200;
    width:420px;
}

.bleu-blanc-rouge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:5px;
    width:420px;
    margin-top:-30px;
}

.bleu {
    width:33.3%;
    height:5px;
    background: blue;
}

.blanc {
    width:33.3%;
    height:5px;
    background: white;
}

.rouge {
    width:33.3%;
    height: 5px;
    background:red;
}

.container-logo-subtitle {
    width:420px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.britain {
    width:80px;
    height: 80px;
}

.subtitle-app {
    font-family: 'Boheme';
    color:white;
    font-size: 50px;
    font-weight: 100;
    margin-top: 15px;
    margin-left: 40px;
    width: 240px;
}

.circle {
    border:4px solid white;
    border-radius: 100%;
    width:200px;
    height:200px;
}

.portrait-header {
    width:100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width:768px) {
    .container-header {
        width:96%;
        padding-left:2%;
        padding-right: 2%;;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .container-containers {
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .container-title-france {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:78%;
    }
    
    .title-app {
        font-size: 32px;
        width:265px;
    }
    
    .bleu-blanc-rouge {
        width:265px;
        margin-top:-20px;
    }
    
    .container-logo-subtitle {
        width:265px;
    }

    .subtitle-app {
        font-size: 35px;
        width: 260px;
        margin-top:23px;
        margin-left: 20px;
    }
}