.container-navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: black;
    color:white;
    border-bottom: 4px solid black;
}

.box-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loginbutton, .logoutbutton, .dashboardbutton {
    text-decoration: none;
    text-align: center;
}

.login {
    display:none;
    font-size:18px;
    color: red;
}

.logout {
    font-size:18px;
    color:green;
    text-align: center;
}

.dash {
    font-size:18px;
    color:aqua;
}

.nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:29%;
}

.nav_item1, .nav_item2, .nav_item3 {
    position:relative;
    text-decoration: none;
}

.nav_item3 {
    width:20%;
}

.nav_item2 {
    width:38%;
    margin-right: 5px;
}

.nav_item1 {
    position:relative;
    width: 33%;
    margin-right: 5px;
}

.nav_item1:hover, .nav_item2:hover, .nav_item3:hover {
    text-decoration: underline white;
}

.nav_item_text2, .nav_item_text1, .nav_item_text3 {
    font-family: 'Ysabeau SC', sans-serif;
    color:white;
    font-size: 20px;
    font-weight: 600;
    width:100%;
    text-align: center;
}

@media screen and (max-width:768px) {
    .container-navbar {
        justify-content: center;
    }

    .nav-header {
        width: 98%;
    }
    .nav_item_text2, .nav_item_text1, .nav_item_text3 {
        overflow:hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
    }
}