@font-face {
  font-family: 'Oranienbaum';
  src: url('../../assets/fonts/Oranienbaum.ttf') format('truetype')
}

.card {
  display: flex;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card .card-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}

.card-image {
  width: 100%;
  height: 76%;
  display: block;
  object-fit: cover;
}

.card-details {
  height: 70px;
  padding: 16px;
  margin-bottom: 0;
  background-color: black;
  color:white;
  font-family: 'Oranienbaum';
}

.card-title {
  margin: 0 0 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: black;
  color:white;
  font-family: 'Oranienbaum';
}

.card-info {
  margin: 0;
  font-size: 14px;
  background-color: black;
  color:white;
  font-family: 'Oranienbaum';
}

